.sectionDois{
    font-family: cursive;
    background-color: gray;
    color: aliceblue;
    padding: 100px 0px;    
}
h2{   
    text-align: left;
    padding-bottom: 10px;
}
.sobremim{
    text-align: left;
}
